
#div1{
border:solid block 0px 0px 2px 0px; 
padding-bottom: 10px;
}
#img1{
height: 100px;
padding-left: 150px;
}
#div2{
border-width: 2px 0px;
margin: 0%;
padding-left:0px;
margin-left:0px;
margin-top:0px;
margin-bottom: 5px;
}
#li1{
   font-size: 15px;
}
#p1{
    font-size:15px;

}
#head2a{
    font-size: 25px;   
}
#div3{
margin: 5px;

}
#img2{
    padding-left: 200px;   
}
#head2b{
    font-size: 25px; 
    padding-left: 400px;
}
#head2c{
    font-size: 25px; 
    padding-left: 500px;
}
#img3{
    height: 300px;
    padding-left: 45px;
}
#div4{
    margin: 5px;
    
}
#p2a{
    font-size: 25px;

}
#p2b{
    font-size: 25px;
  
}
#p2c{
    font-size: 25px;

}
#p2d{
    font-size: 25px;
}
#p2e{
    font-size: 25px;

}
#p4{
    font-size: 15px;
}
#p5{
    font-size: 15px;
}
#p3a{
    font-size: 20px;
}
#h1d{
    font-size: 30px;
}
#h3a{
    font-size: 20px;
}
#div55{
    padding-left:  60px; 
}
#img55{
    height: 113px;
}
#i1{
    font-size: 20px;
}
#p500{
    text-align:center;
}
#div1500{
    float: left;    
}   